
/********** Base styles **********/
* {
    box-sizing: border-box;
  }
  h1 {
    margin: 20px 0px 40px 0px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
  }
  
  p {
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: black;
    clear: both;
    font-family: 'Montserrat', sans-serif;
    padding:10px;
  }
  section{
    float: right;
    width: 20%;
    background-color: #eee;
    padding:5px;
    text-align: center;
    font-weight: bold;
    font-family: 'Galada', cursive;

  }
  .pink{
    background-color: pink;

  }
  .red{
    background-color: #C14543;

  }
  .gold{
    background-color: gold;

  }
  /* Simple Responsive Framework. */
  .row {
    width: 100%;
  }
  
  .row div{
      margin:2%;
  }
  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      border: 1px solid black;
      width: 29.33%;
      height: 250px;
      background-color: #777;
    }
 
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
      float: left;
      border: 1px solid black;
      height: 200px;
      background-color: #777;

    }
    
    .col-md-6 {
      width: 46%;
    }
   
    .col-md-12 {
      width: 96%;
    }
  }

  @media (max-width:767px){
      .col-sm-12 {
        float: left;
        border: 1px solid black;
        width: 95%;
        height: auto;
        background-color: #777;

      }
    }

  }